{{ define "main" }}
{{ $params := .Params }}
<h1>{{ .Name }}</h1>

    <div class="labels">
    <div class="label-section">
    {{- if $params.email }}
    <span class="label-item"><a href="mailto:{{ $params.email }}">{{ $params.email }}</a></span>
    {{- end }}

    {{- if $params.website }}
    <span class="label-item"><a href="{{ $params.website }}">{{ $params.website }}</a></span>
    {{- end }}

    {{- if $params.github }}
    <span class="label-item"><a href="https://github.com/{{ $params.github }}">GitHub@{{ $params.github }}</a></span>
    {{- end }}

    {{- if $params.linkedin }}
    <span class="label-item"><a href="https://www.linkedin.com/in/{{ $params.linkedin }}">Linkedin</a></span>
    {{- end }}
</div>
</div>

    {{ .Content }}
    
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    {{ partial "terms.html" (dict "taxonomy" "sectors" "page" .)}}
{{ end }}
