{{ define "main" }}
{{ $pubDate := .PublishDate | time.Format ":date_long" }}
{{ $pubTime := .PublishDate | time.Format ":time_short" }}
{{ $modDate := .Lastmod | time.Format ":date_long" }}
{{ $modTime := .Lastmod | time.Format ":time_short" }}
{{ $params := .Params }}

<div class="article-header">
    <h1>{{ .Name }}</h1>
    <div class="incident-metadata">
        <table>
            <tr>
                <td><span class="date-label">Published:</span></td>
                <td><span class="date">{{ $pubDate }} {{ $pubTime }}</span></td>
            </tr>
            <tr>
                <td><span class="date-label">Edited:</span></td>
                <td><span class="date">{{ $modDate }} {{ $modTime }}</span></td>
            </tr>
        </table>
    </div>
</div>
<div class="content">
    <div class="content-left">
        <article>
            <div class="article-body">
                {{ .Content }}
            </div>
        </article>
    </div>
    <div class="content-right">
        <div class="sidebar">
        <aside>
            {{ partial "navigators/toc.html" .}}
            {{ partial "navigators/pages.html" (dict "section" "groups" "pages" (.Param "groups") "page" . ) }}
            {{ partial "terms.html" (dict "taxonomy" "categories" "page" .) }}
            {{ partial "terms.html" (dict "taxonomy" "sectors" "page" .) }}
            {{ partial "terms.html" (dict "taxonomy" "tactics" "page" .) }}
            {{ partial "terms.html" (dict "taxonomy" "techniques" "page" .) }}
            {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
        </aside>
        </div>
    </div>
</div>
<hr />

<div class="incident-authors">
    <h2>Authors:</h2>
    {{ partial "authors.html" (dict "authors" $params.authors "page" .) }}
</div>

{{ end }}